@charset "UTF-8";

.lnb .depth1 > li p::after,
.lnb .depth2 > li:not(:last-child)::after {
  content: '';
}

#main > section:not(#page-header) {
  padding: 7.5rem 0 12.5rem;
}

#page-header {
  width: 100%;
}

.lnb .depth2 > li a {
  display: block;
}

#page-header,
.lnb .depth1 > li,
.lnb .depth2 {
  display: flex;
}

.lnb .depth2 > li {
  position: relative;
}

.lnb .depth2 > li:not(:last-child)::after {
  position: absolute;
}

#page-header,
.lnb,
.lnb .depth1 > li p::after,
.lnb .depth2,
.lnb .depth2 > li a {
  transition: .3s ease;
}

.lnb .depth1 > li p,
.lnb .depth2 > li:not(:last-child)::after {
  border-right: 1px solid var(--color-primary4);
}

.lnb,
.img-round {
  border-radius: 0 var(--size-24) 0 0;
}

#page-header .heading,
.lnb .depth1 > li p,
.view-now {
  color: #fff;
}

section h3 {
  font-size: var(--size-32);
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: -1px;
}

/* page-header */
#page-header {
  height: 500px;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--size-60);
  background: url(/img/common/page-header.jpg) no-repeat center;
  background-size: cover;
}

#page-header .heading {
  height: fit-content;
  font-size: var(--size-40);
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: -1px;
}

.lnb {
  margin: 0 2.813rem;
  background-color: var(--color-primary7);
  color: var(--color-primary3);
  box-shadow: 0 -1rem var(--size-24) 2px rgba(0, 0, 0, 0.1);
  font-size: var(--size-18);
}

.lnb .depth1 > li {
  justify-content: space-between;
  align-items: center;
}

.lnb .depth1 > li p {
  padding: var(--size-24) 8.438rem;
}

.lnb .depth2 {
  margin-right: 7.45rem;
  gap: var(--size-24);
}

.lnb .depth2 > li:not(:last-child):after {
  width: 1px;
  height: 40%;
  top: 50%;
  right: -0.75rem;
  transform: translateY(-50%);
}

.lnb .depth2 > li a {
  padding: var(--size-24) 1rem;
}

/* hover set */
@media (hover: hover) and (pointer: fine) {
  .lnb .depth2 > li a:hover {
    color: #fff;
  }
  
  @media (max-width:767px) {
    .lnb .depth2 > li a:hover {
      color: var(--color-primary7);
    }
  }
}

/* 반응형 */
@media (max-width:1510px) {
  .lnb {
    margin: 0;
  }
}

@media (max-width:767px) {
  #main section:not(#page-header) {
    padding: var(--size-60) 0 var(--size-140);
  }
  
  section h3 {
    font-size: clamp(var(--size-24), 6.5vw, var(--size-32));
  }
  
  #page-header .heading,
  .lnb .depth1 > li p,
  .lnb .depth2 {
    width: 100%;
  }

  .lnb .depth1 > li,
  .lnb .depth2 {
    flex-direction: column;
  }

  #page-header,
  .lnb .depth1 > li {
    position: relative;
  }

  #page-header .heading,
  .lnb .depth1 > li p::after,
  .lnb .depth2 {
    position: absolute;
  }

  #page-header .heading,
  .lnb .btn-toggle::after {
    top: 50%;
  }

  .view-now,
  .lnb .depth2 {
    color: var(--color-gray9);
  }

  #page-header .heading,
  .lnb .depth2 {
    text-align: center;
  }

  #page-header {
    height: 40vh;
    padding-top: 65px;
  }

  #page-header .heading {
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(var(--size-32), 6.5vw ,var(--size-40));
  }

  .lnb {
    border-radius: 0 1rem 0 0;
    font-size: 1rem;
  }
  
  .lnb .depth1 > li p,
  .lnb .depth2 > li a {
    padding: var(--size-20) 1rem;
  }
  
  .lnb .btn-toggle::after {
    right: 1rem;
  }
  
  .lnb .depth2 {
    height: 0;
    gap: 0;
    top: 100%;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid var(--color-gray6);
    background-color: #fff;
    overflow: hidden;
  }

}