#page-header {
  background-image: url(/img/sub/product-page-header5.jpg);
}

/* main-visual */
.visual-img {
  background-image: url(/img/sub/product5.jpg);
}

/* feature */
li:nth-child(1) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler1.jpg);
}

li:nth-child(2) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler2.jpg);
}

li:nth-child(3) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler3.jpg);
}

li:nth-child(4) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler4.jpg);
}

/* process */
.procedure li:nth-child(1) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler1.jpg);
}

.procedure li:nth-child(2) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler2.jpg);
}

.procedure li:nth-child(3) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler3.jpg);
}

.procedure li:nth-child(4) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler4.jpg);
}

.procedure li:nth-child(5) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler5.jpg);
}

.procedure li:nth-child(6) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler6.jpg);
}