#page-header {
  background-image: url(/img/sub/product-page-header5.jpg);
}

/* main-visual */
.visual-img {
  background-image: url(/img/sub/product5.jpg);
}

/* feature */
li:nth-child(1) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler1.jpg);
}

li:nth-child(2) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler2.jpg);
}

li:nth-child(3) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler3.jpg);
}

li:nth-child(4) .feature-img {
  background-image: url(/img/sub/feature-dead-animal-handler4.jpg);
}

/* process */
.procedure {
  justify-content: center;
}

.procedure li:nth-child(3)::after {
  display: none;
}

.procedure li:nth-child(4)::after {
  width: auto;
  height: 120px;
  aspect-ratio: 37 / 131;
  display: block;
  top: 0;
  left: calc(100% + var(--size-24));
  transform: rotate(0);
  background-image: url(/img/sub/arrow-procedure2.png);
}

.procedure li:nth-child(5)::after {
  left: calc(100% + var(--size-20));
}

.procedure li:nth-child(5)::before {
  content: '';
  height: 112px;
  aspect-ratio: 47 / 122;
  position: absolute;
  right: calc(100% + var(--size-24));
  background: url(/img/sub/arrow-procedure3.png) no-repeat center;
  background-size: contain;
}

.procedure li:nth-child(1) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler1.jpg);
}

.procedure li:nth-child(2) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler2.jpg);
}

.procedure li:nth-child(3) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler3.jpg);
}

.procedure li:nth-child(4) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler4.jpg);
}

.procedure li:nth-child(5) .procedure-img {
  background-image: url(/img/sub/procedure-dead-animal-handler5.jpg);
}

@media (max-width:767px) {
  .procedure li:nth-child(5)::before {
    display: none;
  }
}